html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', 'Orbitron', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(3, 31, 109);
}

.bg-index {
    background-color: #ebebeb;
    background-image: url(../images/caisse_bg.webp);
    background-position: 100% 45%;
    background-repeat: no-repeat;
    padding: 0%;
}

a,
h2,
h4,
.nav-item {
    color: rgb(3, 31, 109);
}

.gras-txt {
    font-weight: bold;
    color: #530000;
}


/* CAROUSEL DIAPO */

.carousel {
    background-color: black;
    position: relative;
    width: 100%;
    height: 94vh;
}

.carousel-inner,
.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-item {
    background-color: black;
}

.d-block {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.opacity-carousel {
    opacity: 0.6;
}

.carousel-caption {
    color: rgb(231, 221, 80);
    background-color: rgba(155, 177, 202, 0.226);
    border-radius: 60px;
    text-shadow: black 1px 1px;
}

.carousel-caption p {
    font-size: large;
    font-style: italic;
}

.carousel-caption h5 {
    font-size: x-large;
}


/* ************************ */


/* ************************ */


/* ************************ */


/* NAVBAR */

.nav-link:hover {
    color: rgba(0, 47, 175, 0.3);
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: rgba(0, 47, 175);
    padding: 10px 0;
}

.nav-link:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: rgba(0, 47, 175, 0.6);
    transition: width 200ms ease;
}

.menu {
    display: inline;
}

.nav-link:hover:after {
    width: 90%;
}

li.dropdown {
    list-style: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.sfe {
    justify-content: center;
}

.navbar,
.navbar1 {
    background-color: rgba(255, 255, 255, 0.808) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    justify-content: center;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#navPlaceholder.active {
    height: 50px;
}

.navbar1 {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
}

.nav-item {
    color: rgb(3, 31, 109);
    font-weight: bold !important;
    margin-right: 45px;
}


/* ************************ */


/* ************************ */


/* ************************ */


/* TITRE PAGE INDEX */

.present {
    position: relative;
    z-index: 1;
    text-align: center;
}

.align-title {
    background-color: rgba(0, 0, 0, 0.418);
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    animation: titre 2s;
}

.align-title h2 {
    color: rgb(255, 255, 255);
}

.titre {
    color: rgb(0, 15, 148);
    text-shadow: rgb(255, 255, 255) 3px 5px 5px;
    font-family: sans-serif;
    font-size: 120px;
}

@keyframes titre {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* FIN TITRE */


/* ********* */


/* CORPS PAGE */

.premier-titre {
    padding-top: 100px;
    text-align: center;
}

.premier-titre h2 {
    font-size: 330%;
}

.presentation img {
    background-color: #530000;
    width: 100%;
    margin-top: 10%;
    border-radius: 50%;
    transition: ease-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.presentation img:hover {
    border-radius: 20%;
    transform: scale(1.2);
    transition: ease-out 0.2s;
}

span.gacec {
    font-style: italic;
}

.presentation {
    margin-top: 100px;
    display: flex;
    background-color: rgba(218, 218, 218, 0.815);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: ease-out 0.2s;
}

.presentation:hover {
    transform: scale(1.05);
    transition: ease-out 0.5s;
}

.presentation p {
    text-align: justify;
    padding: 70px;
    font-size: larger;
}

.button-fir a {
    text-decoration: none;
    margin-left: auto;
    text-align: center;
}

.arrow {
    padding-left: 48%;
    padding-top: 40px;
    justify-content: center;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #686060;
    border-right: 1px solid #686060;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/* ********* */


/* ********* */


/* TERRAIN ACTION */

.cf-explication {
    margin-top: 100px;
    display: flex;
}

.image-cf img {
    width: 100%;
    padding-right: 30px;
    animation: car-animation 3s linear 0s infinite normal none;
}

.explication {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(218, 218, 218, 0.815);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.explication li {
    margin-left: 30px;
    padding-top: 5px;
    font-weight: bold;
}

.explication p {
    text-align: justify;
}

.after-li {
    margin-top: 15px;
}


/* .terrain_action {
    margin-top: 30px;
}




.explication p{
    text-align: justify;
    padding: 15%;
}

.liste-actions {
    margin-top: -80px;
}

.explication li{
    padding-right: 15%;
    padding-bottom: 5px;
    margin-left: 20%;
    font-weight: bold;
}

.bas-container {
    margin-top: -70px;
} */


/* ************** */


/* FOOTER */

.footer {
    margin-top: 20px;
    background-color: #bdbdbd;
    animation: color-change-3x 4s linear infinite alternate both;
}

@keyframes color-change-3x {
    0% {
        background: #b8b8b8d3;
    }
    50% {
        background: #b99191d2;
    }
    100% {
        background: #8c91b1da;
    }
}

.bottom_border {
    text-align: center;
    border-bottom: 1px solid #975151;
    padding-bottom: 20px;
}

.social-logo img {
    width: 100px;
}

.social-logo img:hover {
    filter: grayscale(0.3);
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.copyright {
    padding: 12px;
    text-align: center;
}

.lien a {
    text-decoration: none;
    margin: 30px;
}

@keyframes shake-bottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}


/* TEST ANIMATION */

.btn-grad {
    background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%);
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 170px;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* ************** */


/* ANIMATION */

@keyframes car-animation {
    0% {}
    50% {
        transform: translate(-5%);
    }
    100% {}
}

@keyframes tipsy {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}


/* ^INDEX.HTML^ */


/* ************************ */


/* ************************ */

.align-pdf {
    background-color: rgb(243, 243, 243);
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.part-cgu {
    padding-top: 50px;
    padding-bottom: 40px;
}

.text-cgu {
    margin-top: 50px;
    width: 50%;
}

.last_part-cgu {
    padding-bottom: 20px;
}

.part-cgu h1 {
    text-align: center;
}

.part-cgu p {
    text-align: justify;
}

iframe {
    width: 100%;
    height: 700px;
}


/*^^ CGU ^^*/


/* ******* */


/* ******* */

.head-contacts {
    width: 80%;
    background-color: #dddddd75;
    border-radius: 10% 90%;
    background-image: url(../images/long_bg_ct.webp);
    background-position: 10px;
    height: 250px;
    margin: auto;
    margin-top: 60px;
    box-shadow: none;
    transition: ease-in-out 0.1s;
}


/* linear-gradient(
        rgba(226, 191, 220, 0.6),
        rgba(112, 122, 181, 0.6)
      ),  */

.head-contacts:hover {
    border-radius: 0;
    width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: ease-in-out 0.3s;
}

.head-contacts h1 {
    font-weight: bolder;
}

.bloc-contacts {
    margin-top: 20px;
    display: flex;
    text-align: center;
}

.formulaire {
    padding-top: 10px;
    align-content: center;
}

.coord-align {
    padding-top: 2%;
    height: 400px;
}

.coord {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 1em;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.coord div {
    margin-top: 1em;
}

.coord-entp p,
.coord-dg p,
.horaires p {
    color: #530000;
    text-align: center;
}


/* .coord {

} */

form {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 1em;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

form div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 80%;
    text-align: left;
}

input,
textarea {
    width: 300px;
}

textarea {
    height: 5em;
}

.btn-send {
    padding-left: 115px;
}

.btn-send input {
    margin-left: 0.5em;
    width: auto;
}

.footer-contacts {
    margin-top: 20px;
    background-color: #bdbdbd;
    animation: color-change-3x 4s linear infinite alternate both;
}


/* ^^ CONTACTS ^^ */


/* ************** */


/* ************** */

.corps-services, .corps-certifications {
    margin-top: 130px;
    background-color: rgb(243, 243, 243);
}

.fabrication {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    background-color: rgb(233, 233, 233);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fabrication img {
    transition: ease-in-out 0.1s;
}

.fabrication h3 {
    font-family: 'Orbitron', 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #530000;
    border-bottom: 1px solid #bdbdbd;
}

.grs p {
    font-size: larger;
    font-weight: bold;
}

.text-fabrication {
    display: flex;
    padding-top: 30px;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 30px;
}

.ital {
    font-style: italic;
}

.liste-caisses {
    padding-left: 15%;
    margin-bottom: 40px;
    margin-top: 30px;
}

.disp-img img {
    padding-top: 1px;
    padding-right: 1px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.disp-img,
.disp-img2,
.disp-img3,
.disp-img4 {
    display: flex;
}

.wrapps {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px solid #bdbdbd;
}

.wrapps p {
    text-align: justify;
}

.f_h {
    transition: 0.1s;
}

.hov_b:hover .f_h {
    filter: blur(3px);
    opacity: .5;
    transform: scale(0.98);
    box-shadow: none;
    transition: 0.2s;
}

.hov_b:hover .f_h:hover {
    transform: scale(1.05);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}


/* .fabrication img:hover .col-6 img{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
} */

.disp-img2 img {
    padding-top: 30px;
    padding-right: 10px;
    width: 100%;
}

.speciales {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 30px;
    display: flex;
}

.speciales p {
    font-size: larger;
}

.liste-caisses2 {
    padding-left: 25%;
    margin-top: 60px;
}


/* .fabrication img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
} */

.emballages {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    background-color: rgb(233, 233, 233);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.emballages h3, .s-ttl {
    font-family: 'Orbitron';
    text-align: center;
    font-size: 50px;
    color: #530000;
    border-bottom: 1px solid #bdbdbd;
}

.disp-img3 img {
    width: 100%;
}

.disp-img4 img {
    padding-top: 1px;
    padding-right: 1px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.sei-img {
    display: block;
    text-align: center;
    margin: auto;
}

.sei-img img {
    width: auto;
    border-radius: 50% 50% 50% 50%;
}

.img-center {
    display: block;
    text-align: center;
    margin: auto;
}

.padd {
    padding-top: 30px;
}

.txt-emballage {
    padding-bottom: 30px;
    border-bottom: 1px solid #bdbdbd;
}

.conditionnement {
    padding-top: 30px;
}

.padd-bottom {
    padding-bottom: 15px;
}


/* ^^ SERVICES ^^ */


/* ************** */

/* ************************ */

.list {
    text-align: center;
    padding-bottom: 30px;
}

.list li {
    text-align: justify;
}

.c_sei {
    background-color: rgb(243, 243, 243);
    margin-top: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.c_sei h2 {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* ^^ CERTIFICATIONS ^^ */

/* ************************ */

.corps-certifications {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.construction {
    margin-top: 15%;
    text-align: center;
}

.temporaire {
    margin-top: 15px;
    text-align: center;
}

.temporaire img{
    width: 400px;
    text-align: center;
}

/* ************** */
/* MEDIA SCREEN MAX WIDTH */

@media screen and (max-height: 960px) {
    .carousel {
        height: 895px !important;
    }
}

@media screen and (max-width: 1395px) {
    .titre {
        font-size: 90px;
    }
    .sous-titre {
        font-size: smaller;
    }
    .present img {
        width: 150px;
    }
    .presentation:hover {
        transform: none;
    }
}

@media screen and (max-width: 992px) {
    .bloc-contacts {
        display: block;
        padding-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    #left-contacts {
        width: 100%;
        text-align: center;
    }
    #right-contacts {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .footer-contacts {
        margin-top: 200px;
    }
}

@media screen and (max-width: 927px) {
    .titre {
        font-size: 70px;
    }
    .present img {
        width: 130px;
    }
    .presentation:hover {
        transform: none;
    }
    .cf-explication {
        display: block;
    }
    .image-cf {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 780px) {
    .titre {
        margin-right: 0;
    }
    .align-title h2 {
        margin-right: 0;
    }
    
    .presentation:hover {
        transform: none;
    }
    .lien a{
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .titre {
        font-size: 50px;
    }
    .presentation:hover {
        transform: none;
    }
}


/* ************************ */


/* ************************ */
