html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', 'Orbitron', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(3, 31, 109);
}

.bg-index {
    background-color: #ebebeb;
    background-image: url(../images/caisse_bg.webp);
    background-position: 100% 45%;
    background-repeat: no-repeat;
    padding: 0%;
}

a,
h2,
h4,
.nav-item {
    color: rgb(3, 31, 109);
}

.gras-txt {
    font-weight: bold;
    color: #530000;
}


/* CAROUSEL DIAPO */

.carousel {
    background-color: black;
    position: relative;
    width: 100%;
    height: 94vh;
}

.carousel-inner,
.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-item {
    background-color: black;
}

.d-block {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.opacity-carousel {
    opacity: 0.6;
}

.carousel-caption {
    color: #e7cc55;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    /* text-shadow: black 1px 1px; */
}

.carousel-caption p {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.carousel-caption h5 {
    font-size: x-large;
    font-weight: bold;
}


/* ************************ */


/* ************************ */


/* ************************ */


/* NAVBAR */

.nav-link:hover {
    color: rgba(0, 47, 175, 0.3);
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: rgba(0, 47, 175);
    padding: 10px 0;
    text-transform: uppercase;
}

.nav-link:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: rgba(0, 47, 175, 0.6);
    transition: width 200ms ease;
}

.menu {
    display: inline;
}

.nav-link:hover:after {
    width: 90%;
}

li.dropdown {
    list-style: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.sfe {
    justify-content: center;
}

.navbar,
.navbar1 {
    background-color: rgba(255, 255, 255, 0.808) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    justify-content: center;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#navPlaceholder.active {
    height: 50px;
}

.navbar1 {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
}

.nav-item {
    color: rgb(3, 31, 109);
    font-weight: bold !important;
    margin-right: 45px;
}


/* ************************ */


/* ************************ */


/* ************************ */


/* TITRE PAGE INDEX */

.present {
    position: relative;
    z-index: 1;
    text-align: center;
}

.align-title {
    background-color: rgba(0, 0, 0, 0.534);
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    animation: titre 2s;
}

.align-title h2 {
    color: rgb(255, 255, 255);
}

.titre {
    color: rgb(0, 15, 148);
    text-shadow: rgb(161, 161, 161) 3px 3px 5px;
    font-family: 'Open Sans';
    font-size: 120px;
}

@keyframes titre {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* FIN TITRE */


/* ********* */


/* CORPS PAGE */

.premier-titre {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.151);
}

.premier-titre h2 {
    font-size: 330%;
}

.presentation img {
    background-color: #530000;
    width: 100%;
    margin-top: 25%;
    border-radius: 50%;
    transition: ease-out 0.2s;
}

.presentation img:hover {
    border-radius: 20%;
    transform: scale(1.2);
    transition: ease-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

span.gacec {
    font-style: italic;
}

.presentation {
    margin-top: 100px;
    display: flex;
    background-color: rgba(218, 218, 218, 0.815);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: ease-out 0.2s;
}

.presentation:hover {
    transform: scale(1.05);
    transition: ease-out 0.5s;
}

.presentation p {
    text-align: justify;
    padding: 70px;
    font-size: larger;
}

.button-fir {
    padding-left: 80%;
    padding-bottom: 2%;
}

.button-fir a {
    text-decoration: none;
    text-align: center;
}

.arrow {
    padding-left: 48%;
    padding-top: 40px;
    justify-content: center;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #686060;
    border-right: 1px solid #686060;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/* ********* */


/* ********* */


/* TERRAIN ACTION */

.cf-explication {
    margin-top: 100px;
    display: flex;
}

.image-cf img {
    width: 100%;
    padding-right: 30px;
    animation: car-animation 3s linear 0s infinite normal none;
}

.explication {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(218, 218, 218, 0.815);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.explication li {
    margin-left: 30px;
    padding-top: 5px;
    font-weight: bold;
}

.explication p {
    text-align: justify;
}

.after-li {
    margin-top: 15px;
}

/* .terrain_action {
    margin-top: 30px;
}




.explication p{
    text-align: justify;
    padding: 15%;
}

.liste-actions {
    margin-top: -80px;
}

.explication li{
    padding-right: 15%;
    padding-bottom: 5px;
    margin-left: 20%;
    font-weight: bold;
}

.bas-container {
    margin-top: -70px;
} */


/* ************** */


/* FOOTER */

.footer {
    margin-top: 20px;
    background-color: #bdbdbd;
    animation: color-change-3x 4s linear infinite alternate both;
}

@keyframes color-change-3x {
    0% {
        background: #b8b8b8d3;
    }
    50% {
        background: #b99191d2;
    }
    100% {
        background: #8c91b1da;
    }
}

.bottom_border {
    text-align: center;
    border-bottom: 1px solid #46404042;
}

.social-logo img {
    width: 100px;
}

.social-logo img:hover {
    filter: grayscale(0.3);
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.copyright {
    padding: 12px;
    text-align: center;
}

.lien {
    padding-bottom: 20px;
}

.lien a {
    text-decoration: none;
    margin: 30px;
}

@keyframes shake-bottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}


/* TEST ANIMATION */

.btn-grad {
    background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%);
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    width: 170px;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* ************** */


/* ANIMATION */

@keyframes car-animation {
    0% {}
    50% {
        transform: translate(-5%);
    }
    100% {}
}

@keyframes tipsy {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}


/* ^INDEX.HTML^ */


/* ************************ */


/* ************************ */

.align-pdf {
    background-color: rgb(243, 243, 243);
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.part-cgu {
    padding-top: 50px;
    padding-bottom: 40px;
}

.text-cgu {
    margin-top: 50px;
    width: 50%;
}

.last_part-cgu {
    padding-bottom: 20px;
}

.part-cgu h1 {
    text-align: center;
}

.part-cgu p {
    text-align: justify;
}

iframe {
    width: 100%;
    height: 700px;
}


/*^^ CGU ^^*/


/* ******* */


/* ******* */

.head-contacts {
    width: 80%;
    background-color: #dddddd75;
    border-radius: 10% 90%;
    background-image: url(../images/long_bg_ct.webp);
    background-position: 10px;
    height: 250px;
    margin: auto;
    margin-top: 60px;
    box-shadow: none;
    transition: ease-in-out 0.1s;
}


/* linear-gradient(
        rgba(226, 191, 220, 0.6),
        rgba(112, 122, 181, 0.6)
      ),  */

.head-contacts:hover {
    border-radius: 0;
    width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: ease-in-out 0.3s;
}

.head-contacts h1 {
    font-weight: bolder;
}

.bloc-contacts {
    margin-top: 20px;
    display: flex;
    text-align: center;
}

.formulaire {
    padding-top: 22px;
    align-content: center;
}

.coord-align {
    
    height: 400px;
}

.coord {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 1em;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.coord div {
    margin-top: 1em;
}

.coord-entp p,
.coord-dg p,
.horaires p {
    color: #530000;
    text-align: center;
}


/* .coord {

} */

form {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 1em;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

form div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 80%;
    text-align: left;
}

input,
textarea {
    width: 300px;
}

textarea {
    height: 5em;
}

.btn-send {
    padding-left: 115px;
}

.btn-send input {
    margin-left: 0.5em;
    width: auto;
}

.footer-contacts {
    margin-top: 20px;
    background-color: #bdbdbd;
    animation: color-change-3x 4s linear infinite alternate both;
}


/* ^^ CONTACTS ^^ */


/* ************** */


/* ************** */

.corps-services, .corps-certifications {
    margin-top: 130px;
    background-color: rgb(243, 243, 243);
}

.fabrication {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    background-color: rgb(233, 233, 233);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fabrication img {
    transition: ease-in-out 0.1s;
}

.fabrication h3 {
    font-family: 'Orbitron', 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #530000;
    border-bottom: 1px solid #bdbdbd;
}

.grs p {
    font-size: larger;
    font-weight: bold;
}

.text-fabrication {
    display: flex;
    padding-top: 30px;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 30px;
}

.ital {
    color: rgb(131, 12, 12);
    font-style: italic;
}

.ital:hover {
    color: rgba(131, 12, 12, 0.5);
}

.liste-caisses {
    padding-left: 15%;
    margin-bottom: 40px;
    margin-top: 30px;
}

.disp-img img {
    padding-top: 1px;
    padding-right: 1px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.disp-img,
.disp-img2,
.disp-img3,
.disp-img4 {
    display: flex;
}

.wrapps {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px solid #bdbdbd;
}

.wrapps p {
    text-align: justify;
}

.f_h {
    transition: 0.1s;
}

.hov_b:hover .f_h {
    filter: blur(3px);
    opacity: .5;
    transform: scale(0.98);
    box-shadow: none;
    transition: 0.2s;
}

.hov_b:hover .f_h:hover {
    transform: scale(1.05);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}


/* .fabrication img:hover .col-6 img{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
} */

.disp-img2 img {
    padding-top: 30px;
    padding-right: 10px;
    width: 100%;
}

.speciales {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 30px;
    display: flex;
}

.speciales p {
    font-size: larger;
}

.liste-caisses2 {
    padding-left: 25%;
    margin-top: 60px;
}


/* .fabrication img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
} */

.emballages {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    background-color: rgb(233, 233, 233);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.emballages h3, .s-ttl {
    font-family: 'Orbitron';
    text-align: center;
    font-size: 50px;
    color: #530000;
    border-bottom: 1px solid #bdbdbd;
}

.disp-img3 img {
    width: 100%;
}

.disp-img4 img {
    padding-top: 1px;
    padding-right: 1px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.sei-img {
    display: block;
    text-align: center;
    margin: auto;
}

.sei-img img {
    width: auto;
}

.img-center {
    display: block;
    text-align: center;
    margin: auto;
}

.padd {
    padding-top: 30px;
}

.txt-emballage {
    padding-bottom: 30px;
    border-bottom: 1px solid #bdbdbd;
}

.tojustify {
    text-align: justify;
    padding-left: 30%;
}

.conditionnement {
    padding-top: 30px;
}

.padd-bottom {
    padding-bottom: 15px;
}


/* ^^ SERVICES ^^ */


/* ************** */

/* ************************ */

.list {
    text-align: center;
    padding-bottom: 30px;
    max-width: 615px;;
}

.list li {
    text-align: justify;
}

.c_sei {
    background-color: rgb(243, 243, 243);
    margin-top: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.c_sei h2, .nimp15 h2, .s-ttl h1, .fabrication h3, .emballages h3 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.corps-certifications {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* ^^ CERTIFICATIONS ^^ */
/* ************************ */


/* ********* */
/* ********* */

.historique {
    padding-top: 15px;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 0.9;
}

#content {
    text-align: center;
}

section.timeline-outer {
    width: 80%;
    margin: 0 auto;
}

.timeline {
    border-left: 8px solid #42A5F5;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #333;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
    font-size: 1.2em;
}

.timeline .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
  left: -177px;
  color: #212121;
  content: attr(data-date);
  text-align: right;
  /*  font-weight: 100;*/
  font-size: 16px;
  min-width: 120px;
}

.timeline .event:after {
  box-shadow: 0 0 0 8px #42A5F5;
  left: -30px;
  background: #212121;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

@media (max-width: 945px) {
  .timeline .event::before {
    left: 0.5px;
    top: 40px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
    .timeline .event::before {
        left: 0.5px;
        top: 60px;
        min-width: 0;
        font-size: 13px;
    }
    .timeline .event:nth-child(1)::before,
    .timeline .event:nth-child(3)::before,
    .timeline .event:nth-child(5)::before {
        top: 38px;
    }
    .timeline h3 {
        font-size: 16px;
    }
    .timeline p {
        padding-top: 20px;
    }
}


/*  */
.organigramme li, .organigramme a, .organigramme span {
    box-sizing: border-box;
    position: relative;
}

.organigramme {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    padding: 0 20px;
    height: 550px;
}

.organigramme ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.organigramme ul a {
    display: block;
    background: rgb(248, 222, 252);
    border: 4px solid #fff;
    text-align: center;
    overflow: hidden;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    height: 70px;
    margin-bottom: -26px;
    box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
    border-radius: 20%;
}

.organigramme ul a span{
    top: 5%;
    display: block;
}

.dg-or ul a span, .mbei-or ul a span {
    margin-top: 0.4em;
}

.pr-or {
    margin-top: 1.2em;
}

.ad-or {
    margin-top: 1.3em;
}

.assistance-or ul a span {
    margin-top: 1.7em;
}

.org-or li a {
    margin-bottom: 25px;
}

.dg-or > li > a{
    width: 60%;
    margin: 0 auto 150px auto;
}

.mbei-or > li > a{
    width: 60%;
    margin: 0 auto 150px auto;
}

.lmrg2-or > li > a{
    width: 60%;
    margin: 0 auto 50px auto;
}

.dg-or::after {
    content: "";
    display: block;
    width: 0;
    height: 360px;
    border-left: 4px solid #fff;
    left: 26%;
    top: -53px;
    position: relative;
}

.mbei-or::after {
    content: "";
    display: block;
    width: 0;
    height: 360px;
    border-left: 4px solid #fff;
    left: 74%;
    top: -53px;
    position: relative;
}

.assistance-or::after {
    content: "";
    display: block;
    width: 0;
    height: 180px;
    border-left: 4px solid #fff;
    left: 48.2%;
    top: -210px;
    position: relative;
}

.c-atel-or:after {
    content: "";
    display: block;
    width: 500px;
    border-top: 4px solid #fff;
    left: 73.2%;
    top: -155px;
    z-index: -1;
    position: relative;
}

.collab-or:before {
    content: "";
    display: block;
    width: 130px;
    border-top: 4px solid #fff;
    left: 88.2%;
    top: -60px;
    position: relative;
    z-index: -1;
}

.c-atel-or:before {
    content: "";
    display: block;
    width: 160px;
    border-top: 4px solid #fff;
    left: 68%;
    transform: rotate(135deg);
    position: relative;
    z-index: -1;
}

.c-emb-or:before {
    content: "";
    display: block;
    width: 100%;
    border-top: 4px solid #fff;
    left: 158%;
    top: -120px;
    transform: rotate(35deg);
    position: relative;
    z-index: -1;
}

.assistance-or, .dg-or, .mbei-or {
    position: absolute;
    width: 100%;
}

.assistance-or > li:first-child,
.dg-or > li:first-child,
.mbei-or > li:first-child {
    width: 18.59894921190893%;
    height: 64px;
    margin: 0 auto 92px auto;
    padding-top: 25px;
    border-bottom: 4px solid white;
    z-index: 1;
}

.dg-or > li:first-child {
    float: left;
    left: 19%;
    top: -50px;
}

.assistance-or > li:first-child {
    top: -50px;
    right: 3.7%;
}

.mbei-or > li:first-child {
    float: right;
    right: 19%;
    top: -50px;
}

.assistance-or > li:first-child a,
.dg-or > li:first-child a,
.mbei-or > li:first-child a {
    width: 100%;
}

.assistance-or > li:first-child a {
    left: 20px;
}

.dg-or > li:first-child a {
    right: 20px;
}

.mbei-or > li:first-child a {
    left: 25px;
}

.bgbg {
    background-image: url(../images/devant_gacec.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*  */

/* ^^ HISTORIQUE ^^ */
/* ********* */

.construction {
    margin-top: 15%;
    text-align: center;
}

.temporaire {
    margin-top: 15px;
    text-align: center;
}

.temporaire img{
    width: 400px;
    text-align: center;
}

/* ^^ TEMPORAIRE ^^ */

/* **************** */
/* MEDIA SCREEN MAX WIDTH */

@media screen and (max-width: 1395px) {
    .titre {
        font-size: 90px;
    }
    .sous-titre {
        font-size: smaller;
    }
    .present img {
        width: 150px;
    }
    .presentation:hover {
        transform: none;
    }
    .button-fir {
        padding-left: 70%;
    }
    .tojustify {
        padding-left: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .c-atel-or:after {
        width: 400px;
    }
    .organigramme {
        height: 650px;
    }
    .organigramme ul a {
        height: 100px;
    }
    .mbei-or > li:first-child {
        border-bottom: none !important;
    }
    .dg-or::after {
        height: 500px;
    }
    .mbei-or::after {
        height: 500px;
    }
    .c-atel-or:after {
        top: -190px;
    }
}

@media screen and (max-width: 1071px) {
    .c-atel-or:after {
        width: 340px;
        left: 88.2%;
    }
}

@media screen and (max-width: 992px) {
    .bloc-contacts {
        display: block;
        padding-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    #left-contacts {
        width: 100%;
        text-align: center;
    }
    #right-contacts {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .footer-contacts {
        margin-top: 200px;
    }
    .button-fir {
        padding-left: 65%;
    }
    .c-atel-or:after {
        left: 70%;
    }
    .c-atel-or:before {
        left: 50%;
        top: -10px;
        transform: rotate(139deg);
    }
    .c-emb-or:before {
        left: 168%;
    }
    .tojustify {
        padding-left: 5%;
    }
}

@media screen and (max-width: 980px) {
    .c-atel-or:before {
        left: 50%;
        top: -10px;
        transform: rotate(139deg);
    }
}

@media screen and (max-height: 960px) {
    .carousel {
        height: 895px !important;
    }
}

@media screen and (max-width: 927px) {
    .titre {
        font-size: 70px;
    }
    .present img {
        width: 130px;
    }
    .presentation:hover {
        transform: none;
    }
    .cf-explication {
        display: block;
    }
    .image-cf {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .button-fir {
        padding-left: 60%;
    }
}

@media screen and (max-width: 900px) {
    .c-atel-or:after {
        left: 41.8%;
    }
    .c-emb-or:before {
        left: 168%;
    }
}

@media screen and (max-width: 780px) {
    .titre {
        margin-right: 0;
    }
    .align-title h2 {
        margin-right: 0;
    }

    .presentation:hover {
        transform: none;
    }
    .lien a{
        display: block;
    }
    .button-fir {
        padding-left: 50%;
    }
}

@media screen and (max-width: 768px){
    .c-atel-or:after {
        width: 230px;
        left: 52%;
        top: -240px;
    }
    .c-atel-or:before {
        left: 40%;
        top: -10px;
        transform: rotate(135deg);
    }
    .c-emb-or:before {
        transform: rotate(45deg);
        left: 179%;
    }
    .assistance-or::after {
        height: 300px;
    }
    .organigramme {
        height: 740px;
    }
    .organigramme ul a {
        height: 130px;
    }
}

@media screen and (max-width: 720px) {
    .c-atel-or:before {
        left: 40%;
        top: -10px;
        transform: rotate(135deg);
    }
    .c-emb-or:before {
        transform: rotate(45deg);
        left: 179%;
    }
}

@media screen and (max-width: 650px) {
    .titre {
        font-size: 50px;
    }
    .presentation:hover {
        transform: none;
    }
    .presentation {
        display: block;
    }
    .presentation p{
        text-align: justify;
        width: 500px;
    }
    .button-fir {
        padding-left: 50%;
    }
}

@media screen and (max-width: 576px) {
    .sfe {
        text-align: center;
    }
    .nav-link:hover:after {
        width: 30%;
    }
    .presentation p{
        text-align: justify;
        width: 400px;
    }
    .button-fir {
        padding-left: 30%;
    }
}

@media screen and (max-width: 570px) {
    .c-atel-or:after {
        left: 25%;
    }
    .c-atel-or:before {
        left: 20%;
        top: -10px;
        transform: rotate(125deg);
    }
    .c-emb-or:before {
        transform: rotate(45deg);
        left: 179%;
        width: 120%;
    }
}

/* ************************ */


/* ************************ */
